:root{
    --main-color:#E10F15;
    --main-title-color:#1E1E1E;
    --text-color:#868687;
    --icons-color:#40485E;
    --select-color:#E10F1580;
    --non-select-color:#D9D9D9;
    --bg-color:#F6F6F6;

}
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    letter-spacing: 1px;
}
main{
    margin-top: 7em;
    margin-bottom: 3em;
    flex: 1;
}
.container{
    width: 85%;
    max-width: 1100px;
    margin-inline: auto;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.loading{
    text-align: center;
    font-size: 3rem;
    color:var(--main-color);
    text-shadow: 0px 0px 1px #fff;
    padding-bottom: 1em;
}
.fill{
    color:var(--main-color)
}
p.error-message{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1em;
}
.btn{
    background-color: var(--main-color);
    border: none;
    padding: 0.5em 2.5em;
    border-radius: 0.5em;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 5px 7px 0px #E10F1540;
    transition: transform 0.3s ease-in-out ;
    color:#fff;
}
.decrease-btn:disabled,.btn:disabled{
    cursor: not-allowed;
    opacity: 0.5;
    transition: none;
}
@media (min-width:768px){
    .btn:hover:enabled{
        transform: translateY(-5px) ;
        box-shadow: 0px 10px 15px 0px #E10F1540;
        text-shadow: 0px 0px 1px #fff;
    }
    .btn:active{
        transform: scale(0.98) !important ;
        box-shadow: none;
    }
}
/* Header */
header{
    padding: 1em 0;
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    /* top: 0; */
    z-index: 9999;
    border-bottom: 1px solid var(--non-select-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 700;
}
   
.hidden{
    display: none !important;
}


.nav-links{
    position: absolute;
    width: 100vw;
    top: 2.7em;
    left:calc(15% / -1.7);
    background-color: var(--bg-color);
    padding-inline: 1em;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.nav-links a{
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s ease-in-out;
    width: 100%;
    text-align: center;
    padding-block: 1em;

}
@media only screen and (orientation: landscape){
    .nav-links{
        padding:0.5em;
    }
    .nav-links a{
        padding-block: 0.5em;
    }
}
.work{
    color:var(--main-color) !important
}
.not-work{
    color:#1E1E1E
}

.nav-links a:hover{
    color: var(--main-color);
    border-bottom: var(--main-color);
}
.nav-links a:not(:last-child){
    border-bottom: 1px solid var(--non-select-color);
}
@media (max-width:767px){
    .burger-icon-container{
        margin-left:auto
    }
}
@media (min-width:768px){
    .hidden{
        display: flex !important;
    }

    .burger-icon{
        display: none;
    }

    .nav-links{
        position: static;
        flex-direction: row;
        background-color: transparent;
        padding: 0;
        font-size: 1.2rem;
        gap: 2em;
        width: fit-content;
    }
    .nav-links a{
        width: fit-content;
        border:0 !important;
    }
}
.rest-icon-container{
    display: flex;
    gap:1em
}
.cart-icon-container,.heart-icon-container{
    position: relative;
    color: var(--icons-color);
}
.cart-icon,.heart-icon{
    font-size: 1.5rem;
}
.cart-count,.favourtie-count{
    position: absolute;
    top: -1.3em;
    right: -0.4em;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
}
/* Hero */
.hero-section{
    margin-bottom: 2em
}

.hero-intro{
    display: flex;
    flex-direction: column;
    gap:1.2em
}

.hero-intro h1{
    font-size: clamp(1.875rem, 1vw + 2.5rem, 6.25rem);
}
.hero-intro h1 span{
    color: var(--main-color);
}
.hero-intro p{
    font-size: 1.2rem;
    color: var(--text-color);
}
.hero-intro a{
    font-size: 1rem;
    color: var(--main-color);
    font-weight: 500;
}
.hero-intro a{
    width: fit-content;
    background-color: var(--main-color);
    border: none;
    padding: 0.5em 2.5em;
    border-radius: 1em;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 5px 7px 0px #E10F1540;
    transition: transform 0.3s ease-in-out ;
    color:#fff;
}
.hero-intro a:hover{
    transform: translateY(-5px) ;
    box-shadow: 0px 10px 15px 0px #E10F1540;
    text-shadow: 0px 0px 1px #fff;
}
@media(min-width:768px){
    .hero-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:2em;
    }
    .hero-photos{
        display: flex;
        gap:1em;
        flex-direction: column;
    }
    .hero-img-btn{
        width: 70px;
        height: 70px;
        border-radius: 99%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .deactive{
        border:2px solid var(--non-select-color);

    }
    .active{
        border:2px solid var(--select-color);
    }
    .hero-img-btn img{
        width: 100%;
    }
    .hero-img{
        max-width: 500px;
    }
    .hero-img img{
        height: 320px;
        max-width: 390px;
        object-fit: contain;
    }
}
/* About */
.about-section{
    margin-top: 3em;
    margin-bottom: 5em
}

.about-section .about-pic{
    width: 100%;
    max-width: 400px;
    height: 400px;
    border-radius: 0.5em;
    margin-bottom: 1em;
    overflow: hidden;
    background-color: black;
}
.about-pic img {
    object-fit: fill;
    opacity: 0.8;
    width: calc(100% + 25px);
    height: calc(100% + 25px);
    position: relative;
    left: -12px;
    top:-10px
}


.about-section p{
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--text-color);
}
.about-info{
    display: flex;
    flex-direction: column;
    gap:0.8em
}
.about-info-data{
    color:var(--text-color);
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 1em;
}
.about-info h2{
    font-size: 2rem;
    color: var(--main-color);
}
.about-info-targets{
    display: flex;
    flex-direction: column;
    gap:2em
}
.about-info-target-one{
    margin-top: 1em;
}
.target-info h3{
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: 0.5em;

}
@media (min-width:768px){
    .about-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }
    .about-section p{
        font-size: 0.9rem;
    }
    .about-section h2{
        font-size: 1.3rem;
    }
    .about-section h3{
        font-size: 1.1rem;
    }
    .about-info-data{
        font-size: 1rem;
        margin-bottom: -0.6em;
    }
    .about-pic{
        width: 30%;
        border-radius: 50%;
        border: 1px solid var(--non-select-color);
    }
    .about-info{
        width: 60%;
    }
    .about-info img{
        object-fit: contain;
        width: 50px

    }
    .about-info-targets{
        gap:1em
    }
    .about-info-target{
        display: flex;
        gap:1em
    }
}
/* Collections and Wishlist */

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:1em;
    /* align-items: center; */
    justify-items: center;
    /* grid-auto-rows: 1fr; */
    padding-block: 3em;
}
.product-price-colors{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.product-price-colors .product-price{
    color:var(--text-color)
}
.product-price-colors .product-colors{
    display: flex;
    gap:0.5em
}
.product-price-colors .product-colors .color{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}
.collections-title,.wishlist-title,.cart-title{
    color:var(--main-color);
    font-size: 2rem;
}
.collections-title{
    text-align: center;
}
.product{
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px #00000040;
    border-radius: 0.5em;
    padding: 1em;
}
.product .favourite-btn{
    margin-left: auto;
}
.product .heart-icon{
    cursor: pointer;
}

.product,.product-info{
    display: flex;
    flex-direction: column;
    gap:1em;
    justify-content: center;
}
.product{
    min-width: 200px;
    max-width: 300px;
    width: 100%;
}

.product-info h4{
    color: var(--main-title-color);
    font-weight: 400;
    block-size: 3.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.product-info img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.pagination-container{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding-bottom: 1em;
}
.pagination-container .Mui-selected{
    background-color: var(--main-color) !important;
    color: #fff !important;
}
.wishlist-empty-message,.cart-empty-message{
    padding-block: 7em;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
/* Contact Us */
.contact-us{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    background-color: #fff;
    padding: 2em 2em;
    box-shadow: 0px 5px 10px 0px #00000040;
    border-radius: 0.3em;
    margin-block: 2em;
    flex-direction: column;
}
.contact-us-title{
    text-align: center;
    color:var(--main-color);
    font-size: 2rem;
    padding-bottom: 1em;
}
.contact-none-message{
    color:#2ecc71;
    opacity: 0;
    font-size: 0;
}
.contact-success-message{
    color:#2ecc71;
    font-size: 0.8rem;
    transition: 0.5s ease-in-out;
}
form{ 
    display: flex;
    flex-direction: column;
    gap:1em
}
.contact-us-form form input, textarea{
    padding: 0.5em 1em;
    border: 1.5px solid #000;
    border-radius: 0.5em;
    outline: none;
    color: #000;
}
.error-message{
    color: var(--main-color);
    font-weight: 600;
}
textarea{
    resize: none;
    height: 10em;
}
.contact-us-form form button{
    background-color: var(--main-color);
    color:#fff;
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 5px 7px 0px #E10F1540;
    transition: transform 0.3s ease-in-out ;
}
.contact-us-subscribe{
    display: flex;
    align-items: center;
    gap:0.5em
}
.contact-us-form form button:hover{
    transform: translateY(-5px) ;
    box-shadow: 0px 10px 15px 0px #E10F1540;
    text-shadow: 0px 0px 1px #fff;
}
.contact-us-form form button:active{
    transform: scale(0.98) !important;
    box-shadow: none;
}
::placeholder {
    color: #000;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
color: #000;
}
.location-info{
    display: flex;
    flex-direction: column;
    gap:2em;
    
}
.location-info a,
.location-info p{
    color:var(--text-color);
}
.location-info iframe{
    height: 250px;
    outline: none;
    border-radius: 0.6em;
    border: 1px solid ;
    padding-inline:1em ;
    width: 100%;
}
.contact-info-text{
    display: flex;
    gap:1em;
    align-items: center;
}
@media (min-width:768px){
    .contact-us{
        flex-direction: row;
        gap:1em;
    }
    .contact-us-form{
        width: 40%;
    }
    .location-info {
        width: 50%;
        gap:1em;
    }
    .location-info iframe{
        height: 400px;
    }
}
/* Footer */
footer{
    background-image: url(../public/images/bgfooter.png);
    color:#E7E7E3;
    margin-top: auto;
    flex-shrink: 0;
    background-position: center;

}
footer .container{
    display: flex;
    flex-direction: column;
    gap:1em;
    padding: 2.5em 1em;
}
footer h3,footer h4{
    color:var(--main-color)
}
footer h3{
    font-size: 2rem;
}
footer h4{
    font-size: 1.2rem;
}
.first-row,.second-row{
    display: flex;
    
}
.first-row{
    flex-direction: column;
    gap:2em
}
.second-row{
    margin-top:1em
}
footer ul{
    list-style-type: none;
    display: flex;
}
.first-column,.second-column,.third-column{
    display: flex;
    flex-direction: column;
    gap:1em
}
.first-column-text{
    line-height: 1.5;
    max-width: 300px;
}
.second-column ul,.third-column ul{
    display: flex;
}
.second-column ul{
    flex-direction: column;
    gap: 0.8em;
}
.second-column ul a, .third-column ul a{
    color:#E7E7E3;
    transition: all 0.3s ease-in-out;
}
.second-column ul a
,.second-row .second-row-text
,.first-column-text
,.third-column ul a{
    text-shadow: 0 0 1px #fff;
}
.second-column ul a:hover, .third-column ul a:hover{
    color:var(--main-color);
    text-shadow: none;
}
.third-column ul{
    gap:1.5em
}
.third-column ul li a{
    color:#E7E7E3
}
.second-row .second-row-text{
    margin-inline: auto;
}
@media (min-width:768px){
    footer .container{
        gap:5em
    }
    .first-row{
        flex-direction: row;
        justify-content: space-between;
    }
    .third-column ul li a{
        font-size: 1.5rem;
    }
}
/* 404 Page */
.not-found{
    margin-top: -4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.not-found img{
    width:200px;
    position: relative;
}
.not-found h1{
    font-size: 12em;
    position: absolute;
    z-index: -1;
    top: 20%;
    color:var(--select-color)   
}
@media (min-width:768px){
    .not-found h1{
        font-size: 15em;
    }
    .not-found{
        gap:2em
    }
}
/* Product Page */
.product-page .product-img {
    padding-bottom: 1em;
    max-width: 400px;

}
.product-page .product-img img{
    background-color: #fff;
    width: 100%;
    height: 200px;
    border-radius: 0.5em;
    padding: 1em;
    border:1px solid var(--non-select-color);

    object-fit: contain;
}
.product-page p{
    color:var(--text-color)
}
.product-page .product-description{
    line-height: 1.5;
}
.product-page .product-price{
    color:#000;
    font-size: 2rem;
    font-weight: 700;
}
.product-page .product-color
,.product-page .product-size{
    font-size: 1.2rem;
}
.product-page .product-colors
,.product-page .product-sizes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.product-page .product-colors{
    gap:1em;
}
.product-page .product-sizes{
    gap:1em;
}
.product-page .color{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    padding: 1em 2em;
    border-radius: 0.2em;
    border: 4px solid var(--non-select-color);
}
.product-page .size{
    padding: 0.5em 2em;
    border: 1px solid var(--non-select-color);
    border-radius: 0.2em;
    cursor: pointer;
}
.selected-size{
    border: 2px solid var(--select-color) !important;
}
.selected-color{
    border: 3px solid var(--non-select-color) !important;
    outline: 3px solid var(--select-color) !important;
}
.product-quantity{
    border: 2px solid var(--non-select-color);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    display: flex;
    gap:1em;
    width: fit-content;
}
.product-quantity-value{
    border: 1px solid var(--non-select-color);
    padding: 0.3em 0.8em;
    border-radius: 0.2em;
    font-weight: 700;
}
.product-quantity-btn{
    background-color: transparent;
    border: none;
    color:var(--main-color);
    cursor: pointer;
    font-size: 1.5rem;
}
.product-page .add-to-cart{
    margin-top: 1em;
}
.product-page .buy-it-now{
    color:var(--main-color);
    border: 1px solid var(--main-color);
    background-color: transparent;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.15);
}
.product-page .add-to-cart
,.product-page .buy-it-now{
    padding: 0.5em 6em;
    border-radius: 0.5em;
    font-size: 1rem;
    cursor: pointer;
}

@media (min-width:768px){
    .product-page{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:2em;
        align-items: center;
        justify-items: center;
    }
    .product-page .product-img img{
        height: 100%;
    }
    .product-page .add-to-cart
    ,.product-page .buy-it-now{
        width: fit-content;
    }
}

/* Cart Page */

.cart-page{
    display: flex;
    flex-direction: column;
    gap:1.5em;
    padding: 1em;

}
.cart-product{
    display: flex;
    flex-direction: column;
    gap:1em;
    padding: 1em;
    
}
.cart-product-img img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 1em 2em;
    background-color: #fff;
    border-radius: 0.5em;
    border:1px solid var(--non-select-color);
}
.cart-product-info{
    display: flex;
    flex-direction: column;
    gap:1em;
    color:var(--text-color)
}
.cart-product-info h2{
    color:#000;
    font-weight: 500;
}
.cart-product-info p{
    line-height: 1.5;
}
.cart-product-info button{
    color:var(--text-color);
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.cart-product .divider{
    width: 110%;
    position: relative;
    left: -5%;
    border: 1px solid var(--non-select-color);
    height: 1px;
    background-color: var(--text-color);
}
.cart-product-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-product-price-delete
,.cart-product-total
,.cart-product-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-product-price{
    color:#000;
    font-weight: 700;
    font-size: 1.5rem;
}
@media (min-width:768px){
    .cart-page{
        box-shadow: 0px 5px 10px 0px #00000040;
        border-radius: 0.5em;
        padding: 2em;
        background-color: #fff;
    }
    .cart-product{
        flex-direction: row;
        background-color: var(--bg-color);
        align-items: center;
    }
    .cart-page .divider{
        display: none;
    }
    .cart-product{
        border: 1px solid var(--non-select-color);
        border-radius: 0.5em;
        box-shadow: 0px 5px 10px 0px #00000040;

    }
    .cart-product .cart-product-img img{
        min-height: 250px;
        max-width: 400px;
        min-width: 200px;
    }
}
/* Payment Page */
.payment,.payment-method
,.payment-method-options
,.order-summary
,.order-summary-product-info
,.order-summary-product
,.personal-info
,.input-field{
    display: flex;
    flex-direction: column;
    gap:1em;
}
.payment-method-title
,.order-summary-title
,.personal-info-title{
    color:var(--main-color);
    font-size: 2rem;
}
@media (max-width:767px){
    .personal-info-title{
        padding-top: 0.25em;
    }
}
.payment-method-text{
    color:var(--text-color);
    font-size: 1.1rem;
}
.payment-method-option{
    display: flex;
    align-items: center;
    gap:1em;
    font-size: 1.3rem;
}
.order-summary{
    order:-1;
    color:var(--text-color)
}
.order-summary-product-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-summary-product-description{
    line-height: 1.5;
}
.order-summary-product-img img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 1em 2em;
    background-color: #fff;
    border-radius: 0.5em;
    border:1px solid var(--non-select-color);
}
.order-summary-product-title
,.order-summary-product-price{
    color:#000;
    font-weight: 500;
}
.order-summary-product-price{
    font-size: 1.5rem;
}
.input-field{
    gap:0.3em;
}
.personal-info{
    gap:0.75em
}
.personal-info input{
    padding: 0.5em 1em;
    border: 1.5px solid #000;
    border-radius: 0.5em;
    outline: none;
}
.personal-info label{
    color:var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
}
.personal-info label::after{
    content: "*";
    color:var(--main-color)
}
/* Remove arrows from input type number */
/* Chrome, Safari, Edge, Opera */
.personal-info input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.personal-info .disabled-input{
    background-color: #fff;
    color:#000;
    opacity: 0.5;
}
.personal-info button[type=submit]{
    margin-top: 1em;
}
.personal-info .btn-back{
    background-color: transparent;
    border: 1px solid var(--main-color);
    color:var(--main-color);
    padding: 0.5em 1em;
    cursor: pointer;
}

@media (min-width:768px){
    .payment{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #fff;
        border-radius: 0.5em;
        padding: 2em;
        box-shadow: 0px 5px 10px 0px #00000040;
        gap: 2em;
    }
    .payment-method{
        width: 40%;
    }
    .personal-info{
        width: 40%;
    }
    .personal-info form{
        gap:1.5em
    }
    .order-summary{
        width: 55%;
        order: 1;
        gap: 2em;
    }
    .order-summary-product-img{
        margin-inline: auto;
        width: 100%;
    }
    .order-summary-product{
        flex-direction: column;
    }
    .order-summary-product img{
        max-height: 300px;
        width: 100%;
        object-fit: contain;
        background-color: #fff;
        border-radius: 0.5em;
        border:1px solid var(--non-select-color);
    }
    .order-summary-product hr{
        display: none;
    }
    .order-summary-total
    ,.order-summary-shipping{
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width:1200px){
    .order-summary-product{
        flex-direction: row;
    }
    .order-summary-product img{
        height: 300px;
        min-width: 250px;
        max-width: 300px;
    }
}
/* Success Page */
.success{   
    margin-top: -2.5em;
    margin-bottom: -3em;
    background-color: #000;
    height: 100vh;
    position: relative;
}
.success img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;

}
.success .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1em;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.success h1{
    font-size: 2.3rem;
}
.success p{
    font-size: 1.5rem;
    text-align: center;
}
.success .icon-container{
    border:1px solid #62DD49;
    font-size: 3rem;
    border-radius:50% ;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}